<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<main>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container bootdey">
    <div class="col-md-12 bootstrap snippets">
    <div class="panel">
    <div class="panel-body">
        <textarea class="form-control" rows="2" placeholder="What are you thinking?"></textarea>
        <div class="mar-top clearfix">
        <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
        <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
        <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
        <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
        </div>
    </div>
    </div>
    <div class="panel">
        <div class="panel-body">
        <!-- Newsfeed Content -->
        <!--===================================================-->
        <div class="media-block">
        <div class="media-body">
            <div class="mar-btm">
            <a href="#" class="btn-link text-semibold media-heading box-inline">user.username</a>
            <p class="text-muted text-sm"><i class="fa fa-lg"></i> Neighborhood</p>
            </div>
            <strong>post.subject</strong>
            <p>post.description</p>
            <div class="pad-ver">
            <div class="btn-group">
                <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
                <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
            </div>
            <a class="btn btn-sm btn-default btn-hover-primary" href="#">Comment</a>
            </div>
            <hr>

            <!-- Comments -->
            <div>
            <div class="media-block">
                <div class="media-body">
                <div class="mar-btm">
                    <a href="#" class="btn-link text-semibold media-heading box-inline">user.username</a>
                    <p class="text-muted text-sm"><i class="fa fa-lg"></i> Neighborhood</p>
                </div>
                <p>*This is a comment* needs to be offset to the left</p>
                <div class="pad-ver">
                    <div class="btn-group">
                    <a class="btn btn-sm btn-default btn-hover-success active" href="#"><i class="fa fa-thumbs-up"></i></a>
                    <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
                    </div>
                    <a class="btn btn-sm btn-default btn-hover-primary" href="#">Comment</a>
                </div>
                <hr>
                </div>
            </div>

            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</main>
<%- include ('../partials/footer') %>
