<%- include ('../partials/head') %>
    <%- include ('../partials/menu') %>
        <main>
            <div class="container">
                <!-- THE REST OF YOUR HTML CODE GOES HERE -->
                <div class="col"><%- include ('../partials/message') %></div>
                <h1> Login </h1>
                <form action="/login" method="POST">
                    <div>
                        <label class="form-label">Username</label>
                        <input id="username" type="text" class="form-control" name="username" required> <br>
                    </div>
                    <div>
                        <label class="form-label">Password</label>
                        <input id="password" type="password" class="form-control" name="password" required> <br>
                    </div>
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
                <div> Don't have an account? <a href="pages/register"> Register </a></div>
            </div>
        </main>
        <%- include ('../partials/footer') %>