<%- include ('../partials/head') %>
  <%- include ('../partials/message') %>
    <div class="blurred-bg">
      <div class="d-flex align-items-center" style="height: 100vh;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
              <div class="card shadow-lg">
                <div class="card-body">
                  <h5 class="card-title text-center mb-4">Register</h5>
                  <form action="/register" method="POST">
                    <div class="row">
                      <div class="form-floating mb-3 col">
                        <input type="first_name" class="form-control" id="first_name" placeholder="John"
                          name="first_name">
                        <label for="first_name">First Name</label>
                      </div>
                      <div class="form-floating mb-3 col">
                        <input type="last_name" class="form-control" id="last_name" placeholder="Smith"
                          name="last_name">
                        <label for="last_name">Last Name</label>
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
                      <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="username" class="form-control" id="username" placeholder="Username" name="username">
                      <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                      <label for="password">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="password" placeholder="Password"
                        name="confirm_password">
                      <label for="confirm_password">Confirm Passowrd</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="tel" class="form-control" id="tel" placeholder="Password" name="phone_number"
                        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                      <label for="phone_number">Phone Number</label>
                    </div>
                    <div class="row">
                      <div class="form-floating mb-3 col">
                        <select class="form-select" aria-label="Select Gender" name="gender">
                          <option selected>Select Gender...</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="rather_not_say">Rather not say</option>
                        </select>
                      </div>
                      <div class="form-floating mb-3 col">
                        <input type="date" class="form-control" id="birthdate" placeholder="01/01/1999"
                          name="birthdate">
                        <label for="date">Birthdate</label>
                      </div>
                    </div>
                    <div class="form-check mb-3">
                      Already have an account? <a href="/login">Login</a>
                    </div>
                    <div class="d-grid gap-2">
                      <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include ('../partials/footer') %>

      <style>
        .blurred-bg {
          background-image: url('https://www.dreamhomesbyjen.com/wp-content/uploads/2019/11/calm-suburban-neighborhood.jpg');
          background-size: cover;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }

        .blurred-bg::after {
          content: "";
          background: inherit;
          filter: blur(10px);
          -webkit-filter: blur(10px);
          position: fixed;
          top: -10px;
          left: -10px;
          width: calc(100% + 20px);
          height: calc(100% + 20px);
          z-index: -1;
        }

        .card {
          background-color: rgba(255, 255, 255, 0.8);
          border-radius: 10px;
          padding: 20px;
        }

        .behind-form {
          position: relative;
          z-index: 1;
        }
      </style>