.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 70vh;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.listings-container {
    overflow: scroll;
    height: 70vh;
}

.comments:hover {
    fill: #1b89e3;
}

.upvotes:hover{
    fill: #2fc43e;
}

.downvotes:hover {
    fill: #c4322f;
}